<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programmr.pneumoapp"
    android:versionCode="11"
    android:versionName="1.1.7">

    <uses-sdk android:minSdkVersion="18" />

    <uses-feature android:name="android.hardware.usb.host" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name"
    android:theme="@style/AppTheme"
        >
        <activity android:name="com.programmr.pneumoapp.PneumoniaTestActivity">
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity android:name="com.programmr.pneumoapp.ApplicationPreferenceActivity" />
        <activity android:name="com.programmr.pneumoapp.WordListActivity" />
        <activity
            android:name="com.programmr.pneumoapp.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.programmr.pneumoapp.ResultsActivity" />
        <activity android:name="com.programmr.pneumoapp.ResultDetailsActivity"></activity>
    </application>

</manifest>